.gameOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  pointer-events: all;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shapeGameContainer {
  position: absolute;
  top: 12.5%;
  width: 700px;
  height: 600px;
  padding: 1rem;
  box-sizing: border-box;
}

.dropZoneRow {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.shapeRow {
  position: absolute;
  bottom: -3rem;
  left: 13%;
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;

  border: 1px solid #222;
  border-radius: 12px;
  padding: 1rem 0.5rem;
}

.gameRules {
  position: absolute;
  bottom: -7rem;
}

.dropZone {
  width: 130px;
  height: 130px;
  border-radius: 12px;

  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  position: absolute;
}

.dropZone.empty:hover {
  box-shadow: 0 0 10px 5px #00ffff88;
  border-color: #0ff;
}

.lockedShape {
  width: 70%;
  height: 70%;
  pointer-events: none;
}

.draggableShape {
  touch-action: none;
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 12px;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.draggableShape img {
  width: 80px;
  height: 80px;
}

.previewShape {
  width: 60%;
  height: 60%;
  opacity: 0.3;
  pointer-events: none;
}

.guideLine {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  background: #0ff;
  transform-origin: left center;
  pointer-events: none;
  border-radius: 2px;
  z-index: -1;
}

.winMessage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #0ff;
  text-shadow: 0 0 20px #0ff, 0 0 30px #0ff;
}
