.backButton {
  padding: 0.7rem 1.4rem;
  font-size: 1rem;
  font-family: "NeueMachina";
  background: transparent;
  width: 300px;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.backButton:hover {
  transform: scale(1.05);
}
