@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/Neue_Machina.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  font-family: "NeueMachina";
  background: #252525;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}
