@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/Neue_Machina.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  font-family: "NeueMachina";
  background: #000000;
  overflow: hidden;

  touch-action: manipulation;
  overscroll-behavior: none;
}

button {
  font-family: "NeueMachina";
}

canvas {
  width: 100vw;
  height: 100vh;
}
